@model CarsMVCManager.Models.Voiture

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Voiture</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nom)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PFiscale)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PFiscale)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Marque)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Marque)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Modele)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Modele)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Carburant)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Carburant)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Matricule)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Matricule)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Couleur)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Couleur)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Proprietaire.Nom)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proprietaire.Nom)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
